@charset "utf-8";

@font-face {
    font-family: 'Mice';
    src: url('./font/MICEMyungjo OTF.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mice1';
    src: url('./font/MICEMyungjo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mice';
    src: local('Malgun Gothic'), local('맑은 고딕'), local('NanumGothic');
    unicode-range: U+4E00-U+9FFF, U+3400-U+4DBF, U+F900-U+FAFF;
}