<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산 여행 - BUSAN TRAVEL</title>
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/common/chapter.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/sub_tr_3.css}">
</head>
<body class="ch01">
<header id="hd">
    <div class="hd_container">
        <a th:href="@{/}" class="logo">
            <img th:src="@{/images/busanlogo.png}" alt="부산광역시 로고">
        </a>

        <nav class="gnb">
            <ul class="menu">
                <li>
                    <a th:href="@{/sub_area_1}">부산 지역</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_area_1}">행정구역</a></li>
                        <li><a th:href="@{/sub_area_2}">부산 상징</a></li>
                        <li><a th:href="@{/sub_area_3}">미래 비전</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/sub_travel_1}">부산 여행</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_travel_1}">추천 여행</a></li>
                        <li><a th:href="@{/sub_travel_2}">해양 & 테마 추천</a></li>
                        <li><a th:href="@{/sub_travel_3}">가이드북 & 지도</a></li>
                        <li><a th:href="@{/sub_travel_4}">여행 공유</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/sub_history_1}">부산 역사</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_history_1}">선사시대</a></li>
                        <li><a th:href="@{/sub_history_2}">조선시대</a></li>
                        <li><a th:href="@{/sub_history_3}">개항/근대</a></li>
                        <li><a th:href="@{/sub_history_4}">현대/글로벌</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/sub_news_1}">부산 소식</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_news_1}">부산 주요 현안</a></li>
                        <li><a th:href="@{/sub_news_2}">오늘의 부산</a></li>
                        <li><a th:href="@{/sub_news_3}">부산 문화·라이프</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/sub_commu_1}">커뮤니티</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_commu_1}">자유게시판</a></li>
                        <li><a th:href="@{/sub_commu_2}">Q&A</a></li>
                        <li><a th:href="@{/sub_commu_3}">관광불편신고</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="tnb">
            <a th:href="@{/login}">로그인</a>
            <a th:href="@{/signup}">회원가입</a>
        </div>
    </div>
</header>

<section class="sub_visual">
    <h2>指南 & 地图</h2>
    <p>您可以下载釜山旅行所需的指南/地图资料。</p>
</section>

<div class="content_wrap">
    <div class="main_container">
        <aside class="lnb">
            <h2 class="lnb_tit">指南 & 地图</h2>
            <ul>
                <li><a th:href="@{/sub_travel_3}">한국어</a></li>
                <li><a th:href="@{/sub_travel_3_2}">영어</a></li>
                <li><a th:href="@{/sub_travel_3_3}">일본어</a></li>
                <li class="on"><a th:href="@{/sub_travel_3_4}">중국어</a></li>
            </ul>
        </aside>

        <section class="guide_basic" id="top">
            <div class="guide_title">
                <img th:src="@{/images/travel_main_3.png}" alt="指南 & 地图">
            </div>

            <div class="guide_grid">
                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_31.jpg}" alt="釜山旅游地图">
                    </div>
                    <h3 class="guide_name">釜山旅游地图</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_19.pdf}" download>下载</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_32.jpg}" alt="享受不同主题的 釜山旅行">
                    </div>
                    <h3 class="guide_name">享受不同主题的 釜山旅行</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_20.pdf}" download>下载</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_33.jpg}" alt="乘坐都市铁路 开启 釜山之旅">
                    </div>
                    <h3 class="guide_name">乘坐都市铁路 开启 釜山之旅</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_21.pdf}" download>下载</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_34.jpg}" alt="15处釜山 必游景点">
                    </div>
                    <h3 class="guide_name">15处釜山 必游景点</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_22.pdf}" download>下载</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_35.jpg}" alt="釜山广域市指定中国游客专业餐厅">
                    </div>
                    <h3 class="guide_name">釜山指定中国游客专业餐厅</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_23.pdf}" download>下载</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_36.jpg}" alt="2025 釜山味道">
                    </div>
                    <h3 class="guide_name">2025 釜山味道</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_24.pdf}" download>下载</a>
                </article>
            </div>
        </section> </div> </div> <footer id="ft">
    <div class="ft_container">
        <div class="ft_left">
            <div class="f_logo">
                <img th:src="@{/images/mix_logo_11.png}" alt="釜山广域市">
            </div>
            <p class="f_address">(우 47545) 釜山广域市莲堤区中央大路1001 (莲山洞)</p>
            <div class="f_links">
                <a href="#">访问指南</a>
                <a href="#">停车指南</a>
                <a href="#">利用指南</a>
            </div>
        </div>

        <div class="ft_center">
            <nav class="fnb">
                <a href="#">个人信息保护政策</a>
                <a href="#">拒绝擅自收集电子邮箱</a>
                <a href="#">版权政策</a>
            </nav>
            <p class="copyright">Copyright ⓒ 2026 BUSAN METROPOLITAN CITY. All Rights Reserved.</p>
        </div>

        <div class="ft_right">
            <a href="https://www.instagram.com/busancity">
                <img th:src="@{/icon/Instagram.png}" alt="Instagram">
                <span>Instagram</span>
            </a>
            <a href="https://www.facebook.com/BusanCity">
                <img th:src="@{/icon/facebook1.png}" alt="Facebook">
                <span>Facebook</span>
            </a>
            <a href="https://www.youtube.com/@Busan_is_good">
                <img th:src="@{/icon/youtube1.png}" alt="Youtube">
                <span>Youtube</span>
            </a>
        </div>
    </div>
</footer>
</body>
</html>